/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #f97316; /* Orange color */
  --ifm-color-primary-dark: #d45a13; /* Darker orange */
  --ifm-color-primary-darker: #b44810; /* Even darker orange */
  --ifm-color-primary-darkest: #93370d; /* Darkest orange */
  --ifm-color-primary-light: #ffa036; /* Light orange */
  --ifm-color-primary-lighter: #ffb44d; /* Lighter orange */
  --ifm-color-primary-lightest: #ffcb80; /* Lightest orange */
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(249, 115, 22, 0.1); /* Orange highlight */
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ff9c4e; /* Dark mode orange */
  --ifm-color-primary-dark: #e68636; /* Darker dark mode orange */
  --ifm-color-primary-darker: #cc711d; /* Even darker dark mode orange */
  --ifm-color-primary-darkest: #b35f1a; /* Darkest dark mode orange */
  --ifm-color-primary-light: #ffaf66; /* Light dark mode orange */
  --ifm-color-primary-lighter: #ffc380; /* Lighter dark mode orange */
  --ifm-color-primary-lightest: #ffd9a6; /* Lightest dark mode orange */
  --docusaurus-highlighted-code-line-bg: rgba(249, 115, 22, 0.3); /* Dark mode orange highlight */
}

.navbar__toggle {
  /* order: 1; Moves the burger menu to the right */
  order: 1;
  margin-left: auto;
}


@media (max-width: 1374px) {
  .hideOnMobile {
    display: none;
  }
}
